<!doctype html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="">
	
<title>Login</title>
</head>
<body>
	<br/>
	<div class="container">
		<div class="row">
		<div class="col-sm-9 ">
		<h3><strong> Cadastro de Pessoas Para o Evento</strong></h3><br/>
		
	<form action="salvarPessoa" method="post" th:object="${pessoasObj}">
		<div class="form-group ">
			<input name="id" type="text" class="form-control" th:field="*{id}" readonly = "readonly">id<br/>
			<input name="nome" type="text" class="form-control" placeholder="Nome Completo" th:field="*{nome}"><br/>
			<input name="email" type="text" class="form-control" placeholder="Email" th:field="*{email}"><br/>
			<input autocomplete="off" name="idade" type="text" class="form-control" placeholder="idade" th:field="*{idade}"><br/>
			<input name="rg" type="text" class="form-control" placeholder="RG" th:field="*{rg}"><br/>
			<input name="cpf" type="text" class="form-control" th:field="*{cpf}" placeholder="CPF"><br/>
			<input name="nascimento" type="text" class="form-control" placeholder="Data Nascimento" th:field="*{nascimento}"><br/>
		</div>
		<input type="submit" class="btn btn-info" value="Cadastrar">
	</form>
        </div>
        </div>
    </div><br/>
 
 	<div class="container">
 		<div class="row">
 			<div class="col-mt-13">
 				<h3><strong>Lista De Convidados</strong></h3><br/>
 				<a href="/listarConvidados" class="btn btn-warning" >Convidados Cadastrados</a><br/>
 				<table class="table" border="1" >
  					<tr>
						<th>id</th>	  					
    					<th>Nome</th>
    					<th>Email</th>
    					<th>Idade</th>
    					<th>Rg</th>
    					<th>Cpf</th>
    					<th>Data Nascimento</th>
    					<th>Editar</th>
    					<th>Excluir</th>
    					
  					</tr>
  					
  					<tr th:each = "dados : ${lista}">  	
  					    <td th:text="${dados.id}"></td>					
    					<td th:text = "${dados.nome}"></td>
    					<td th:text = "${dados.email}"></td>
    					<td th:text = "${dados.idade}"></td>
    					<td th:text = "${dados.rg}"></td>
    					<td th:text = "${dados.cpf}"></td>
    					<td th:text = "${dados.nascimento}"></td>
    					<td><a th:href="@{/editarpessoa/{id}(id=${dados.id})}"class="btn btn-danger">Editar</a></td>
    					<td><a th:href="@{/deletarpessoa/{id}(id=${dados.id})}" class="btn btn-warning">Excluir</a></td>
    					
  					</tr>
				</table>

 				
 			</div>
 		</div>
 	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>